{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
  <header class="entry-header">
    <div class="center-content">
      <h2>
        <a href="https://audycje.com.pl/posts/wsparcie/">-Wsparcie Fundacji-</a>
      </h2>
      <h2>
        <a href="https://www.youtube.com/@audycjecompl">-Kanał YouTube-</a>
      </h2>
      <h2>
        <a
          href="https://podcasts.apple.com/us/podcast/fundacja-więcej-mądrości/id1759615186"
          >-Apple Podcast-</a
        >
      </h2>
      <h2>
        <a href="https://open.spotify.com/show/08FcBlirC3jK86DzNfVC83"
          >-Spotify-</a
        >
      </h2>
    </div>
  </header>

  <div class="entry-content">{{ .Content | markdownify }}</div>
  <footer class="entry-footer">
    <center>
      {{ partial "social_icons.html" site.Params.socialIcons }}
      <h2>Inne Radio Głuchołazy, 105.2 FM!</h2>

      <audio controls="controls">
        <source src="http://s3.slotex.pl:7004/stream/1/" type="audio/mpeg" />
      </audio>
    </center>
  </footer>
</article>
{{- end -}}
